* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit; 
}

h1 {
    text-transform: uppercase;
}

ul {
    list-style: none;
}

header div {
    align-items: center;
}

header div nav ul {
    display: flex;
    list-style: none;
}

header div nav ul li {
    padding: 10px;
}

.content {
    min-height: 100vh;
}

.menu {
    position: fixed;
    width: 100%;
    background-color: #0F6466;
    display: flex;
    justify-content: space-between;
    padding: 15px 150px;
    color: #D8B08C;
}

.primary-bg {
    background-color: #2C3532;
    color: #D2E8E3; 
}

.secondary-bg {
    background-color: #0F6466;
    color: #D8B08C;
}