@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Sora:wght@100..800&display=swap');

:root {
    --primary-color: #000228;
    --secundary-color: #fffbf7;
    --main-font: "Sora";
    --content-font: "Quicksand";
    --space: 15rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
}

h1 {
    font-family: var(--main-font);
    text-transform: uppercase;
}

p {
    font-family: var(--content-font);
}

header {
    position: fixed;
    min-width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--main-font);
    padding: 1rem var(--space);
}


header > nav > ul {
    display: flex;
    list-style: none;
}

header > nav > ul > li {
    padding: 1rem;
}

header > nav > ul > li > a {
    text-decoration: none;
    color: var(--primary-color);
}

header > nav > ul > li > a:hover {
    text-decoration: underline;
    color: #908789;
}

.content {
    display: grid;
    height: 100vh;
    padding: 0 var(--space);
    grid-template-columns: 2fr 1fr;
    gap: 1.6rem;
}

.main-bg {
    background-image: url('assets/img/main-bg.svg');
    background-size: cover;
    background-position: center center;
    color: var(--secundary-color);
}

.light-bg {
    background-color: var(--secundary-color);
    color: var(--primary-color);
}

.content-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-text > h1, .content-text p {
    padding: 2rem 0;
}

.texts > h1 {
    font-size: 4.5rem;
}

.texts > p {
    font-size: 2rem;
}

.content-photo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-photo img {
    max-width: 30rem;
    max-height: 30rem;
    border-radius: 50%;
}